/movie2.mov
/movie5.mov
/pic
/sin_wave2
/sin_wave_in_processing
/sum_of_angles
/trial2_in_processing
/trial3
/trial6
/trial_1in_processing
/trig_identity_cos_2_sin_2_1
/trig_identity_cos_2_sin_2_1 copy