:root{
  --light-blue:rgb(112, 248, 186);
  --dark:rgb(30, 16, 20);
  --silent:rgb(124, 180, 184);
  --purple:rgb(202, 60, 255);
  --mid-gray:rgb(8, 76, 97);
  --carrot:rgb(234, 144, 16)
}
.mybutton{
  background-color: var(--light-blue);
  display:flex;
  margin:10px;
  padding:10px 20px;
  font-size: 20px;
  font-weight: bold; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: background-color 0.15s;
  transition: color 0.15s; 
  border-radius:8px;
}
.mybutton:hover{
  box-shadow: 1px 3px 30px;
}
.mybutton:active{
  background-color:white;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.container{
  display:grid;
  height:100%;
  grid-template-columns:1fr 3fr;
  background-color:rgba(0,0,0,0.5);
  position:absolute;
}

#defaultCanvas0{
  margin :20px;

}

body{
  background-image:url(/R.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  justify-items: center;
  align-items: center;
}

.label{
  background-color: var(--light-blue);
  display:inline-block;
  margin:10px;
  padding:10px 20px;
  font-size: 20px;
  font-weight: bold; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: background-color 0.15s;
  transition: color 0.15s; 
  border-radius:8px;

}
#button_container{
  background-color:rgba(10,20,20,0.55);
  display: inline-block;
  /* width:500px; */
}
p{
  font-size:8ch;
  color:var(--carrot);
  font-family: Georgia;
 }
 .t1{
  color:rgb(255,255,255);
  font-size:5ch;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
 }
 #can-container{
  background-color:rgba(0,0,0,0.2)
 }
#begin {
  height:100%;
  width:100%; 
  background-color:black;
  /* text-align: center; */
  position:absolute;
  /* padding: 50px; */
  display:grid;
}
#begin p{
  margin:auto;
}

#begin2 {
  height: 100%;
  width: 100%;
  background-color: rgba(255,0,0,0.2);
  /* text-align: center; */
  position: absolute;
  /* padding: 50px; */
  display:grid;
}
#begin2 p{
  margin:auto;
}
#begin3 {
  height: 100%;
  width: 100%;
  background-color: rgba(202, 202, 12,0.2);
  position: absolute;
  display: grid;
}
#begin3 p{
margin:auto;
}
#begin4 *{
  height: 100%;
  width: 100%;
  background-color:rgba(0,200,0,0.2);
  position: absolute;
  display:grid;
}
#begin4 p{
  margin:auto;
}
