:root{
  --light-blue:rgb(112, 248, 186);
  --dark:rgb(30, 16, 20);
  --silent:rgb(124, 180, 184);
  --purple:rgb(202, 60, 255);
  --mid-gray:rgb(8, 76, 97);
  --carrot:rgb(234, 144, 16)
}
.mybutton{
  background-color: var(--light-blue);
  display:block;
  margin:10px;
  padding:10px 20px;
  font-size: 20px;
  font-weight: bold; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: background-color 0.15s;
  transition: color 0.15s; 
  border-radius:8px;
}
.mybutton:hover{
  background-color:var(--dark);
  color:var(--light-blue);
}
.mybutton:active{
  background-color:white;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.container{
  display:grid;
  grid-template-columns:500px 1fr;

}
#defaultCanvas0{
  /* display:inline-block; */
  margin :20px;
  /* border-radius:10px; 
  border:double 10px; */
}

body{
  background-image:url(/R.jpg);
  background-size: cover;
  background-repeat:no-repeat;
}

.label{
  background-color: var(--light-blue);
  display:inline-block;
  margin:10px;
  padding:10px 20px;
  font-size: 20px;
  font-weight: bold; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: background-color 0.15s;
  transition: color 0.15s; 
  border-radius:8px;

}
#button_container{
  background-color:rgba(10,20,20,0.55);
  display: inline-block;
  /* width:500px; */
}
p{
  font-size:8ch;
  color:var(--carrot);
  font-family: Georgia;
 }
 .t1{
  color:rgb(255,255,255);
  font-size:5ch;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
 }
 #can-container{
  background-color:rgba(0,0,0,0.3)
 }
